body{
    margin: 0px;
    padding: 0px;
    background-color: white;
}
.container{
    border: 2px solid grey;
    width: 1000px;
    margin-left: 300px;
    height: 550px;
}
.container p{
    margin-left: 8px;
    text-align: left;
    padding-bottom: 0px;
    padding-top: 8px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 0px;
}
#affi{
    text-align: center;
    margin-bottom: 30px;
    font-size: xx-large;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#davit{
    text-align: center;
    margin-bottom: 10px;
    font-size: xxx-large;
    margin-top: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container .last {
    float:right;
}

