body{
    margin: 0px;
    padding: 0px;
    background-color: white;
}
#aim{
    /* text-align: center; */
    font-size: xxx-large;
    margin-bottom: 10px;
    float: left;
    margin-left: 18px;
    margin-top: 70px;
    text-decoration: underline;
    font-family: miander GD;
}
#disc{
    margin-top: 30px;
    padding: 15px;
}
.container ul{
    margin-left: 20px;
    padding: 20px;
    /* border: 2px solid grey;  */
    display: inline-block;
}
.container ul li{
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container p{
    margin-left: 20px;
    padding: 20px;
    font-size: large;
    /* border: 2px solid grey;  */
    display: inline-block;
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.flexbox{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.flexbox img{
    width: 13%;
    border: 18px solid black;
    padding: 4px;
    border-style: groove;
    /* border-radius: 50%; */
    border-radius: 8px;
}
.flexname{
 display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.flexname p{
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.founders h3{
    font-size: xx-large;
    margin-left: 40px;
}
#aims{
    font-size: xxx-large;
    margin-bottom: 30px;
    /* float: left; */
    margin-left: 18px;
    margin-top: 40px;
    display: block;
    text-decoration: underline;
}