*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.nav-item{
     margin:2px 70px 0px 4px;
     /* padding: 2px; */
}
.nav-link{
    color: brown;
}
.nav-link:hover{
    color: grey;
}
.navbar-brand{
    color: brown;
}
.navbar{
    height: 60px;
    /* position: fixed; */
    max-width: 100%;
    /* border: 2px solid grey; */
    margin-left: 4px;
    margin-right: 4px;
    justify-content: space-between;
    border-radius: 10px;
    color: black;
    background-color: white;
}